<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Require Bootstrap, the CSS style sheet, and fonts -->
		<title>Bet I'm Right App</title>
	    <link rel="stylesheet" type="text/css" href="../../public/assets/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<!-- Add JQuery and Bootstrap -->
		<script src="../../public/assets/js/jquery-3.1.1.min.js"></script>
    	<script src="../../public/assets/css/bootstrap.min.js"></script>
		{{{ body }}}
	</body>
</HTML>