<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <img src="./img/test-logo.jpg" alt="Bet I'm Right Logo" id="bir-logo">
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-12 login-box">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" class="signup-form" maxlength="20" autocomplete="off" required >
                <br>

                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" class="signup-form" maxlength="20" autocomplete="off" required >
                <br>

                <label for="newUsername">newUsername</label>
                <input type="text" name="newUsername" id="newUsername" class="signup-form" maxlength="20" autocomplete="off" required >
                <br>

                <label for="newPassword">Password</label>
                <input type="password" name="newPassword" id="newPassword" class="signup-form" maxlength="20" autocomplete="off" required >
                <br>

                <label for="passwordAgain">Confirm Password</label>
                <input type="password" name="passwordAgain" id="passwordAgain" class="signup-form" maxlength="20" autocomplete="off" required >
                <br>

                <label for="newEmail">Email</label>
                <input type="text" name="newEmail" id="newEmail" class="signup-form" maxlength="40" autocomplete="off" required >
                <br>
















                <button id="create-button">Create Account</button>
                <br>

            </div>
        </div>
        <!-- /.row -->


        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p> About Us | Careers | Contact Us | Support</p>
                    <p>Copyright &copy; 2016 Bet I'm Right </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <script>
    // define sign in function
    function createAccount(){

        console.log("createAccount func")

        // grab data from form
        var data = {
            username: $('#username').val().trim(),
            password: $('#password').val().trim()
        }
        //console.log(data)
        // grab url to ajax call
        var currentURL = window.location.origin + "/api/auth";

        

        // post our login data
        $.post(currentURL, data, function(results){
            console.log(results);
        });

    }

    // define call on button
    $(document).on('click', '#create-button', function(){
        // sign in
        createAccount();
        // prevent default behavior
        return false;
    })
    </script>


