<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
<!-- Page Content -->

<!--wrapper start-->
<div class="wrapper">
    <!--header-->
    <header id="header">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <div class="hero">
        <hgroup>
         <img src="/assets/img/BIR-Logo-v2.png" width="500" alt="logo"/>
            <h3>Social Betting Made Easy!</h3>
        </hgroup>
        <a class="btn btn-hero btn-lg" href="#" data-toggle="modal" data-target="#login-modal">Login / Signup</a>
      </div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div> 
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
    </div>
  </div> 


<!--                                                      START OF MODALS                                                -->


<!-- LOGIN MODAL -->

  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
          <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form id="loginForm">
            <input type="text" name="username" id="username" class="login-form" placeholder="Username" maxlength="20" autocomplete="off" required >
            <input type="password" name="password" id="password" class="login-form" placeholder="Password" maxlength="20" autocomplete="off" required >
            <input type="submit" name="login" class="login loginmodal-submit" value="Login" id="log-in">

            </form>
            
            <div class="login-help">
            Don't have an account? <a href="#" data-toggle="modal" data-target="#signup-modal" data-dismiss="modal">Sign up here!</a>
            </div>
          </div>
    </div>
  </div>

<!-- SIGNUP MODAL -->

  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
          <div class="signupmodal-container">
            <h1>Signup for an Account</h1><br>
            <form id="createAccountForm">

              <input type="text" name="firstName" id="firstName" class="signup-form" placeholder="First Name" maxlength="20" autocomplete="off" required >
              <input type="text" name="lastName" id="lastName" class="signup-form" placeholder="Last Name" maxlength="20" autocomplete="off" required >
              <input type="text" name="newUsername" id="newUsername" class="signup-form" placeholder="Username" maxlength="20" autocomplete="off" required >
              <input type="password" name="newPassword" id="newPassword" class="signup-form" placeholder="Password" maxlength="20" autocomplete="off" required >
              <input type="password" name="passwordAgain" id="passwordAgain" class="signup-form" placeholder="Confirm Password" maxlength="20" autocomplete="off" required >
              <input type="email" name="newEmail" id="newEmail" class="signup-form" placeholder="Email" maxlength="40" autocomplete="off" required >




              <input type="submit" name="signup" class="signup signupmodal-submit" value="signup" id="signup-btn">

            </form>
            
            <div class="signup-help">
            Already Have an Account? <a href="#" data-toggle="modal" data-target="#login-modal" data-dismiss="modal">Login here!</a>
            </div>
          </div>
    </div>
  </div>



  <!-- Modal for password match -->
  <div id="passwordMatchModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your passwords do not match. Please make sure both passwords match completely</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for unique username -->
  <div id="uniqueUsernameModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">That username is already taken, please choose another.</h4>
        </div>
      </div>
    </div>
  </div>
 
  <!-- Modal for invalid username/password -->
  <div id="invalidUserOrPassModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">The username or password you have entered is incorrect.</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for invalid username/password -->
  <div id="contactSubmitModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thanks for contacting us! We'll get back to you as soon as possible.</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for invalid username/password -->
  <div id="accountCreatedModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your new account is created! You can login at any time.</h4>
        </div>
      </div>
    </div>
  </div>





<!--                                                      END OF MODALS                                                -->




    <div class="menu">
        <nav class="navbar navbar-wrapper"> 
      <div class="container">
            <div class="navbar-header">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="main-nav" class="collapse navbar-collapse">
             <ul class="nav navbar-nav">
              <li><a href="#header" class="scroll-link">Home</a></li>
              <li><a href="#service" class="scroll-link">Our App</a></li>
              <li><a href="#aboutUs" class="scroll-link">About Us</a></li>
              <li><a href="#contact" class="scroll-link">Contact</a></li>
            </ul>
      </div>
      </div>  
        </nav>
    </div>      
    </header>
    
<section class="service page-section" id="service">
      <div class="container text-center">
         <div class="heading">          
            <h2>Bet on anything with your friends</h2>         
            <h3>Think you know the winner of the next big game? What would win in a fight, a Star Destroyer of the Enterprise?<br> <strong>Why not bet on it?</strong><br> 
            Bet I'm Right is a social betting app that lets you easily make bets with your friends, and hold them accountable for the results. The winner gets "Cool Points." The loser gets to lick their wounds. Pick between <strong>three</strong> different judges (friend, admin, or community), and they'll decide the winner.<br> Accumulate Street Cred as you prove to your friends once and for all who's Right and who's Wrong.</h3>
        </div>

          <div class="row">
            <div class="col-md-4">
              <div class="box-area">
                  <div class="box-area-icon">
                    <i class="fa fa-gavel"></i>
                  </div>
                  <h3>Pick Your Judge</h3>
                  <div class="box-area-text">Bet I'm Right lets you choose whether you want an admin, a community poll, or a friend (whether subjective or objective) to decide the result of your bet.</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-area">
                  <div class="box-area-icon">
                    <i class="fa fa-dollar"></i>
                  </div>
                  <h3>"Cool" Points</h3>
                  <div class="box-area-text">Wager "Cool Points" on each bet, depending how sure you are of the answer. These give you a measurable currency to show off to your friends who's the best!</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-area">
                  <div class="box-area-icon">
                    <i class="fa fa-bar-chart"></i>
                  </div>
                  <h3>Bet History & Statistics</h3>
                  <div class="box-area-text">Bet I'm Right keeps a record of all of your bets and tracks your Wins/Losses, Points Won, etc. Easily find out who won that bet you made last year with your friends.</div>
              </div>
            </div>
<!--             <div class="col-md-4">
              <div class="box-area">
                  <div class="box-area-icon">
                    <i class="fa fa-users"></i>
                  </div>
                  <h3>Friends & Community</h3>
                  <div class="box-area-text">Add your friends to Bet I'm Right and make sure you're the best of them all.</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-area">
                  <div class="box-area-icon">
                    <i class="fa fa-cubes"></i>
                  </div>
                  <h3>Cakes</h3>
                  <div class="box-area-text">Bet I'm Right lets you choose whether you want a BIR admin, a community poll, or a friend (whether subjective or objective) decide the result of your bet.</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-area">
                  <div class="box-area-icon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <h3>Meeting point</h3>
                  <div class="box-area-text">Bet I'm Right lets you choose whether you want a BIR admin, a community poll, or a friend (whether subjective or objective) decide the result of your bet.</div>
              </div>
            </div> -->
          </div>
      </div>
    </section>
    
    <!--about us-->
    <section class="aboutus page-section" id="aboutUs">
    <div class="container">
         <div class="heading">          
            <h2>Who we are</h2>         
            <h3>The Bet I'm Right Team is a trio of Fullstack Developers and Students at the University of Central Florida Developer Bootcamp.<br>
             The team consists of Sean Capelle, Thomas Zhang, and John Bunner.</h3>
        </div>
        
        <div class="content">
             
          <div class="team-div col-md-4">
            <img src="/assets/img/Team Photos/sean.jpg" width="100" alt="logo" class="team-photo"/>
            <p class="team-name">Sean Capelle</p>
            <p class="team-title">Co-Founder/Project Manager</p>
          </div>

          <div class="team-div col-md-4">
            <img src="/assets/img/Team Photos/thomas.jpg" width="100" alt="logo" class="team-photo"/>
            <p class="team-name">Thomas Zhang</p>
            <p class="team-title">Co-Founder/Front-end Developer</p>
          </div>

          <div class="team-div col-md-4">
            <img src="/assets/img/Team Photos/john.jpg" width="100" alt="logo" class="team-photo"/>
            <p class="team-name">John Bunner</p>
            <p class="team-title">Co-Founder/Back-end Developer</p>
          </div>

        </div>  
    </div>
    </section>
    
    <!--feedback-->
    <section class="contact page-section" id="contact">
    <div class="container">
        <div class="heading">
                
                <h2>Contact Us</h2>
                
                <h3>We are here to answer any questions you may have about your Bet I'm Right experience. Reach out to us and we'll respond as soon as we can.<br>
                 Even if there is something you have always wanted to experience and can't find it on our app, let us know and we promise to look into it!</h3>
        </div>
    </div>
     <div class="container w960">
      <div class="row">
        <div class="done">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                Your message has been sent. Thank you!
            </div>
        </div>
       <form method="post" action="" id="contactform">
          <input name="name" id="contactName" type="text" class="contact col-md-6" placeholder="Your Name *" >
          <input name="email" id="contactEmail" type="email" class="contact noMarr col-md-6" placeholder="E-mail address *" >
          <textarea name="comment" id="contactMessage" class="contact col-md-12" placeholder="Message *"></textarea>
          <input type="submit" id="contactSubmit" class="contact submit" value="Send message">
        </form>
      </div>
    </div>
    </section>
  
    <!--footer-->
    <section class="footer" id="footer">
    <p class="text-center">
        <a href="#header" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
    </p>
    <div class="container">
    <!-- Commented out, but links for social media below -->
<!--         <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
        </ul> -->
        <p>
            Copyright &copy; 2016 Bet I'm Right
        </p>
    </div>
    </section>
    
</div><!--wrapper end-->

<script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
        $('.navbar-wrapper').stickUp();
        });
    localStorage.clear();

    });

//------------------------------------- Login Functions -------------------------------------//

    function loginFunc(){

        console.log("login func");

        // grab data from form
        var data = {
            username: $('#username').val().trim(),
            password: $('#password').val().trim()
        }
        //console.log(data)
        // grab url to ajax call
        var currentURL = window.location.origin + "/api/auth";

        // post our login data
        $.post(currentURL, data, function(results){
            console.log("THIS IS THE RESULTS: " + results);

            if(results === "fail") {
                $('#invalidUserOrPassModal').modal();
            }
            else if (results.type === "admin") {
                console.log("You are an admin");
                localStorage.setItem("currentUsername", results.currentUsername);
                localStorage.setItem("currentUserID", results.currentUserID);

                window.location.replace(window.location.origin + results.path);
            }
            else if (results.type === "user") {
                console.log("you're user!");
                localStorage.setItem("currentUsername", results.currentUsername);
                localStorage.setItem("currentUserID", results.currentUserID);
                window.location.replace(window.location.origin + results.path);
            }

        });
    };

    $("#loginForm").submit(function(e) {
      e.preventDefault();
      
      loginFunc();

      return false;

    })



//------------------------------------- Create Account Functions -------------------------------------//

    function createAccount(){

            console.log("createAccount func")

            // grab data from form
            var data = {
                firstName: $('#firstName').val().trim(),
                lastName: $('#lastName').val().trim(),
                newUsername: $('#newUsername').val().trim(),
                newPassword: $('#newPassword').val().trim(),
                newEmail: $('#newEmail').val().trim()
            }

            //console.log(data)
            // grab url to ajax call
            var currentURL = window.location.origin + "/api/createUser";

            console.log(currentURL);

            // post our new user
            $.post(currentURL, data, function(results){
                console.log("THIS IS THE RESULT BACK: " + results);
                
                //If the username was unique, redirect to login page on server side 

                if(results == true) {
                    $('#uniqueUsernameModal').modal();
                }
                else if(results == false) {
                    $('#signup-modal').modal('toggle');
                    $('#login-modal').modal();
                    $('#accountCreatedModal').modal();
                }

            });
        }
        
    //Function to check if the passwords entered match
    function bothPasswordsMatch() {

        var isMatch = false;

        if ($("#newPassword").val() === $("#passwordAgain").val()){
            isMatch = true;
        }
        return isMatch;
    }

    $("#createAccountForm").submit(function(e) {
      e.preventDefault();
      
      var isMatch = bothPasswordsMatch();

      if(!isMatch) {
        $('#passwordMatchModal').modal();
      } else {
        createAccount();
      }
      return false;
    })

//------------------------------------- Contact Us Functions -------------------------------------//

    //This is fake, we don't have a contact email setup yet
    $("#contactform").submit(function(e) {
      e.preventDefault();
      
      $('#contactName, #contactEmail, #contactMessage').val('');


      $('#contactSubmitModal').modal();
      return false;

    })






</script>