<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <img src="./img/test-logo.jpg" alt="Bet I'm Right Logo" id="bir-logo">
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-12">

                <form class="login-box">

                    <span class="login-span">
                        <label for="username" class="login-label">Username</label>
                        <input type="text" name="username" id="username" class="login-form" maxlength="20" autocomplete="off" required >
                    </span>

                    <br>

                    <span class="login-span">
                        <label for="password" class="login-label">Pass</label>
                        <input type="password" name="password" id="password" class="login-form" maxlength="20" autocomplete="off" required >
                    </span>

                    <br>
                    <button class ="btn-primary" id="log-in">Log In</button>
                    <br>

                </form>

                <p id="createUserP">Don't have an account? Sign up <a href="/createUser">here!</a></p>

            </div>
        </div>
        <!-- /.row -->


        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p> About Us | Careers | Contact Us | Support</p>
                    <p>Copyright &copy; 2016 Bet I'm Right </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

        <!-- Modal for form completion -->
        <div id="formCompleteModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please fill out all parts of the form!</h4>
              </div>
            </div>
          </div>
        </div>

    </div>
    <!-- /.container -->

    <script>
    // define sign in function
    function signIn(){

        console.log("signIn func")

        // grab data from form
        var data = {
            username: $('#username').val().trim(),
            password: $('#password').val().trim()
        }
        //console.log(data)
        // grab url to ajax call
        var currentURL = window.location.origin + "/api/auth";

        // post our login data
        $.post(currentURL, data, function(results){
            console.log(results);
        });

    }

    //Function to validate if the form is completely filled out
    function validateForm() {

        var isValid = true;
        $('.login-form').each(function() {

            if ( $(this).val() === '' ){
                isValid = false;
            }
        });
        return isValid;
    }

    // define call on button
    $(document).on('click', '#log-in', function(){
        // sign in

        var isValid = validateForm();

        if (isValid) {
            console.log("Form complete");
            signIn();
        }
        else {
            //alert("Please fill out all parts of the form");
            $('#formCompleteModal').modal();
        }
        // prevent default behavior
        return false;
    })
    </script>