<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <img src="./img/test-logo.jpg" alt="Bet I'm Right Logo" id="bir-logo">
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-12 login-box">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="login-form" required >
                <br>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="login-form" required >
                <br>
                <button id="log-in">Log In</button>
                <br>

                <p>Don't have an account? Sign up <a href="/createUser">here!</a></p>

            </div>
        </div>
        <!-- /.row -->


        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p> About Us | Careers | Contact Us | Support</p>
                    <p>Copyright &copy; 2016 Bet I'm Right </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <script>
    // define sign in function
    function signIn(){

        console.log("signIn func")

        // grab data from form
        var data = {
            username: $('#username').val().trim(),
            password: $('#password').val().trim()
        }
        //console.log(data)
        // grab url to ajax call
        var currentURL = window.location.origin + "/api/auth";

        

        // post our login data
        $.post(currentURL, data, function(results){
            console.log(results);
        });

    }

    // define call on button
    $(document).on('click', '#log-in', function(){
        // sign in
        signIn();
        // prevent default behavior
        return false;
    })
    </script>