<link rel="stylesheet" type="text/css" href="/assets/css/styles2.css">
<!-- Page Content -->
<div class="wrapper">
    <!--header-->
    <header id="header">

            <div class="menu">
                <nav class="navbar navbar-wrapper">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        </div>
                        <div id="main-nav" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="/home" class="scroll-link">Home</a>
                                </li>
                                <li><a href="/myBets" class="scroll-link">{{currentUsername}}'s Bets</a>
                                </li>
                                <li><a href="/newBet" class="scroll-link">New Bet</a>
                                </li>
                                <li><a href="/logout" class="scroll-link">Logout</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </nav>
            </div>



            <hgroup class="logo-header">
                <img src="/assets/img/BIR-Logo-v2.png" width="500" alt="logo" />
                <h3>Social Betting Made Easy!</h3> 
            </hgroup>









    </header>

    <section class="service page-section" id="service">
        <div class="container text-center">
            <div class="heading">
                <h2>Create New Bet</h2>


            <form id="newBetForm">

              <input type="text" name="usernameP1" id="usernameP1" class="newBet-form" maxlength="20" autocomplete="off" readonly ><br>
              <input type="text" name="usernameP2" id="usernameP2" class="newBet-form" placeholder="Username of Bet Opponent" maxlength="20" autocomplete="off" required ><br>
              <input type="number" name="points" id="points" class="newBet-form" value="20" maxlength="11" autocomplete="off" required ><br>
              <select name="judge" id="judge" class="newBet-form" required>
                  <option value="admin">Admin</option>
                  <option value="community">Community</option>
                  <option value="friend">Friend</option>
              </select><br>

              <input type="text" name="betText" id="betText" class="newBet-form" placeholder="Terms of Bet" maxlength="500" autocomplete="off" required ><br>
              <input type="text" name="P1answer" id="P1answer" class="newBet-form" placeholder="Your Bet Answer/Pick" maxlength="500" autocomplete="off" required ><br>

              <input type="submit" name="createBetButton" class="createBet" value="Create Bet" id="createBet-btn">

            </form>













            </div>

        </div>
    </section>


    <!--footer-->
    <section class="footer" id="footer">
        <p class="text-center">
            <a href="#header" class="gototop"><i class="fa fa-angle-double-up fa-2x"></i></a>
        </p>
        <div class="container">
            <!-- Commented out, but links for social media below -->
            <!--         <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
        </ul> -->
            <p>
                Copyright &copy; 2016 Bet I'm Right
            </p>
        </div>
    </section>

</div>
    <!--wrapper end-->

<script type="text/javascript">
    jQuery(function($) {
    $(document).ready( function() {
        $('.navbar-wrapper').stickUp();

        $("#usernameP1").val("test"); /*GRAB THIS FROM LOCAL STORAGE?*/
        $("#usernameP1").readOnly = true;

        });
    });

//------------------------------------- Login Functions -------------------------------------//

    function newBetFunc(){

        console.log("new bet func");

        var judgePicked = $('#judge').val().trim();
        console.log(judgePicked);
        var data;


        if (judgePicked == "admin" || judgePicked == "community") {
            console.log("Judge is an admin or community");
            // grab data from form
            data = {
                usernameP1: $('#usernameP1').val().trim(),
                usernameP2: $('#usernameP2').val().trim(),
                points: $('#points').val().trim(),
                judge: $('#judge').val().trim(),
                betText: $('#betText').val().trim(),
                P1answer: $('#P1answer').val().trim()
            }
        }

        else if (judgePicked == "friend") {
            console.log("Judge is a friend");
            data = {
                usernameP1: $('#usernameP1').val().trim(),
                usernameP2: $('#usernameP2').val().trim(),
                points: $('#points').val().trim(),
                judge: $('#judge').val().trim(),
                judgeUsername: $('#friendInput').val().trim(),
                betText: $('#betText').val().trim(),
                P1answer: $('#P1answer').val().trim()
            }            
        }

        //console.log(data)
        // grab url to ajax call
        var currentURL = window.location.origin + "/api/addBet";

        // post our login data
        $.post(currentURL, data, function(results){
            console.log(results);

            if(results.isCreated == true) {
                console.log("should redirect");
                //window.location.replace(window.location.origin + results.path);
            }
            else if (results.isCreated == false) {
                console.log("Bet Not Created");
                //Modal popup for reason why
                //window.location.replace(window.location.origin + results.path);
            }

        });
    };

    $("#newBetForm").submit(function(e) {
      e.preventDefault();
      
      newBetFunc();

      return false;
    });

    $('select').change(function(){
       if($('select option:selected').text() == "Friend"){
            $('html select').after("<span id='hiddenFriendInput'><br><input type=text' name='friendInput' id='friendInput' class='newBet-form' placeholder='Username of Friend Judge' maxlength='20' autocomplete='off' required></input></span>");
       }
       else{
            $('#hiddenFriendInput').remove();
       }
    });

</script>