body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*CSS for Login Page*/

#bir-logo {
	display: block;
	margin: 30px auto;
}

.login-box {
	text-align: center;
	padding-top: 25px;
    background-color: #ece7e4;
    width: 410px;
    margin: auto;
}

.login-span {
	display: block;
	margin: auto;
}

.login-form {
	width: 250px;
	float: right;
	margin-right: 10px;
	margin-left: 2px;
	display: block;
}

.login-label {
	display: inline-block;
	width: 140px;
	text-align: right;
	margin-top: 2px;
	margin-bottom: 0px;
}

#log-in {
	margin: 0px 0px 10px 0px;
	text-align: center;
}

#createUserP {
	padding-top: 20px;
	text-align: center;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/
/*CSS for Create User Page*/

#createH2 {
	text-align: center;
	margin-top: 0px;
}

.signup-box {
	text-align: center;
	padding-top: 25px;
    background-color: #ece7e4;
    width: 410px;
    margin: auto;
}

.signup-span {
	display: block;
	margin: auto;
}

.signup-form {
	width: 250px;
	float: right;
	margin-right: 10px;
	margin-left: 2px;
	display: block;
}

#signup-btn {
	margin: 0px 0px 10px 0px;
	text-align: center;
}

#loginP {
	padding-top: 20px;
	text-align: center;
}

